# This file is used by the build system to adjust CSS and JS output to support the specified browsers below.
# For additional information regarding the format and rule options, please see:
# https://github.com/browserslist/browserslist#queries

# For the full list of supported browsers by the Angular framework, please see:
# https://angular.io/guide/browser-support

# You can see what browsers were selected by your queries by running:
#   npx browserslist

Chrome >=79 # Supports Chrome version 79 and above
ChromeAndroid >=79 # Supports Chrome on Android version 79 and above
Firefox >=70 # Supports Firefox version 70 and above
Edge >=79 # Supports Microsoft Edge version 79 and above
Safari >=14 # Supports Safari version 14 and above
iOS >=14 # Supports iOS version 14 and above
